# NGINX
DOMAIN_NAME=<login>.42.fr

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=<login>
MYSQL_PASSWORD=CHANGE_ME
MYSQL_ROOT_PASSWORD=CHANGE_ME

# WordPress
WP_TITLE=Inception
WP_ADMIN_USER=<login>
WP_ADMIN_PASSWORD=CHANGE_ME
WP_ADMIN_EMAIL=<login>@example.com
WP_USER=<login>_user
WP_USER_PASSWORD=CHANGE_ME
WP_USER_EMAIL=<login>_user@example.com

# FTP
FTP_USER=<login>
FTP_PASS=CHANGE_ME

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Paths
DATA_PATH=/home/<login>/data
